<% content_for(:site_page_title, 'Consulting') %>

<div class="row column">
    <h2 class="page-title">
      <%= t('consulting_title') %>
    </h2>
    <div class='offer-explanation'>
      <p class="page-lead lead">
        <%= t('consulting_description').html_safe %>
      </p>
      <p>
        <a href='<%= page_path :id => :contact %>'>Contact us now.</a>
      </p>
    </div>
</div>
