<% content_for(:site_page_title, 'Consulting') %>

<div class="row column">
    <h2 class="page-title">
      <%= t('consulting_title') %>
    </h2>
    <p class="page-lead lead">
      <%= t('consulting_description') %>
    </p>
</div>
