<% content_for(:site_page_title, 'Consulting') %>

<div class="row column">
    <h2 class="page-title">Consulting</h2>
    <p class="page-lead lead">We help entrepreneurs better leverage technologies available to them.</p>
    <p> More to come. </p>
</div>
