<% content_for(:site_page_title, 'Contact') %>

<div class="row">
    <div class="column medium-6 medium-push-3">
        <h2 class="page-title">Contact</h2>
        <p class="page-lead lead">Contact us via the following means. We will
          come back to you within 1 business day.</p>

        <ul class="contact-info">
            <li><i class="fa fa-envelope-o"></i><a href="mailto:contact@peersandpeers.com">contact@peersandpeers.com</a></li>
            <li><i class="fa fa-phone fa-lg"></i><a href="tel:+33756797696">(FR) +33 7 56 79 76 96</a></li>
            <li><i class="fa fa-phone fa-lg"></i><a href="tel:+19148731267">(US) +1 914 873 1267</a></li>
            <li><i class="fa fa-map-marker fa-lg"></i><a href='https://goo.gl/maps/ycNm7Kv8gHy' target="_blank">257 rue Saint Honoré <br> 75001 Paris <br>France<a></li>
        </ul>
    </div>
</div>
