<% content_for(:site_page_title, 'Credentials') %>

<div class="row column">
    <h2 class="page-title">Credentials</h2>
    <p class="page-lead lead">We have the privilege to work with ambitious and demanding clients.</p>
    <div class="client row">
        <div class="client-logo column medium-3">
          <a href='https://www.maif-avenir.fr/' target='_blank'>
            <img src="<%= asset_path 'logo-maif-avenir' %>" alt="MAIF-Avenir">
          </a>
        </div>
        <div class="column medium-9">
          <p class="client-description">
            MAIF Avenir is the Venture Capital fund of MAIF Insurance. MAIF
            Avenir invests in startup making a difference in the “sharing
            economy” space, “digital economy” and “innovation” as a whole.
          </p>
        </div>
    </div>
    <div class="client row">
        <div class="client-logo column medium-3">
          <a href='https://www.nexity.fr' target='_blank'>
            <img src="<%= asset_path 'logo-nexity' %>" alt="Nextiy">
          </a>
        </div>
        <div class="column medium-9">
          <p class="client-description">
            Nexity is part of the CAC40 companies in France. Nexity makes
            strategic investments and key acquisitions in the real estate
            sector. We  assess the value of the technologies they invest in,
            hence enabling them to make instructed strategic decisions.
          </p>
        </div>
    </div>
</div>
