<% content_for(:site_page_title, 'Due Diligences') %>

<div class="row column">
  <h2 class="page-title"><%= t('due_diligence_title') %></h2>
  <div class='offer-explanation'>
    <%= t('due_diligence_description').html_safe %>
    <p>
      <a href='<%= page_path :id => :contact %>'>Contact us now.</a>
    </p>
  </div>
</div>
