<% content_for(:site_page_title, 'Homepage') %>

<div class="home-container">
  <h1 class="home-title">Peers & Peers <span class='teal'>-</span> Technology Advisory</h1>
  <nav class="menu home-menu">
    <a class="menu-item" href="<%= page_path(:id => 'due-diligences') %>">Due Diligences</a>
    <a class="menu-item" href="<%= page_path(:id => 'consulting') %>">
      <%= t('consulting') %>
    </a>
  </nav>
</div>
