<% content_for(:site_page_title, 'Team') %>

<div class="row column">
    <h2 class="page-title">Team</h2>
    <div class="row medium-up-3">
        <div class="column">
            <article class="member">
                <figure class="member-picture">
                    <img src="<%= asset_path 'Quentin-Decock-Peers-And-Peers.jpg' %>">
                </figure>
                <h4 class="member-name">Quentin Decock</h4>
                <h6 class="member-position">Partner &amp; Founder</h6>
                <p class="member-desc">
                  I am passionate about technology since I am 10 years old.
                  <br/>
                  I graduated from Supelec in 2008, where I majored in Information Systems Security.
                  <br/>
                  I worked 8 years building the technology of amazing startups:
                  @<a href='https://www.crunchbase.com/organization/1stdibs' target='_blank'>1stdibs</a> /
                  @<a href='https://www.crunchbase.com/organization/crowdtap' target='_blank'>Crowdtap</a> /
                  @<a href='https://www.bnbflow.com/' target='_blank'>Bnbflow</a> (as a founder)
                </p>
            </article>
        </div>
    </div>
</div>
